.headerMenu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--fontColor);
}

/* NavbarTop style */
.NavbarTop{
    width: 100%;
    height: 7vh;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    cursor: default;
    position: fixed;
    z-index: 100;
    top: 0;
}

.viabandTitle{
    font-size: 1.5vw;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    transition: 600ms;
    overflow: hidden;
}
.viabandTitle::before{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--secondary) ;
    position: absolute;
    bottom: 10%;
    right: 100%;
    transition: .5s ease-in;
}
.viabandTitle:hover::before{
    
    right: 0;
    width: 100%;
    transition: .5s ease-in;
}

.plains{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.plainsBtnOption{
    border: none;
    font-size: 1.2vw;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontColor);
}

.plainsBtnOption:hover{
    color:  var(--secondary) ;
    color:  var(--backround) ;
}
.plainsBtnOption::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--secondary) ;
    background-color: var(--MainColor) ;
    position: absolute;
    bottom: -100%;
    transition: .5s ease-in;
    z-index: -1;
}
.plainsBtnOption:hover::before{
    transition: .5s ease-in-out;
    bottom: 0%;
    
}


.menu{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5%;
    font-family: "Montserrat", sans-serif;
}
.menuItem{
    position: relative;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-transform: uppercase;
    font-size: .9vw;
}
.menuItem::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
    position: absolute;
    right: 100px;
    bottom: 0%;

    transition: .6s ease;
}

.menuItem:hover::before, .menuItem:focus::before{
    right: 0px;
}

.menuItem::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
    position: absolute;
    left: 100px;
    top: 0%;
    transition: .6s ease;
}

.menuItem:hover::after, .menuItem:focus::after{
    left: 0px;
}



.menuItem:hover{
    /* color: var(--secondary); */
    cursor: pointer;
    transition: .3s;
}


.StyleModeIcon{
  font-size: 1.8vw;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.StyleModeIcon.Dark{
  color: #8f44fd;
}



.clientButton{
  width: 10%;
  height: 80%;
  border: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: .6s ease;
  color: var(--secondary);
  font-weight: 300;
  
}
.clientButton::before{
  content: "";
  position: absolute;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color:var(--secondary);
  z-index: -1;
  transition: .6s ease;
}
.clientButton:hover{
  border: solid 1px transparent;
  color: var(--fontColor);
    transition: .6s ease;
}
.clientButton:hover::before{
    right: 0;
    transition: .6s ease;
}




.clientTextBtn{
  font-size: 1.3vw;
}










.button {
    background: rgb(255 255 255 / 16%);
    border: 0;
    width: 56px;
    height: 56px;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 0;
    opacity: 0.6;
    scale: 0.7;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.175s;
    display: none;
    background-color: var(--secondary);
  }
  
  .button:hover {
    opacity: 1;
    background: #8f44fd;
  }


  
  /* burger-1 */

.burger-1 {
    scale: 0.75;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.3s;
  }
  
  .burger-1 .bars {
    width: 100%;
    height: 4px;
    background-color: #f9f9f9;
    border-radius: 4px;
  }
  
  .burger-1 #bar2 {
    transition-duration: 0.6s;
  }
  
  .burger-1 #bar1,
  .burger-1 #bar3 {
    width: 70%;
  }
  
  .is-closed.burger-1 .bars {
    position: absolute;
    transition-duration: 0.3s;
  }
  
  .is-closed.burger-1 #bar2 {
    transform: scaleX(0);
    transition-duration: 0.3s;
  }
  
  .is-closed.burger-1 #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.3s;
  }
  
  .is-closed.burger-1 #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
  }
  
  .is-closed.burger-1 {
    transition-duration: 0.3s;
    transform: rotate(180deg);
  }
  



  



  .navbarBackground{
    width: 100%;
    height: 85%;
    background-color: black;
    overflow: hidden;
    position: relative;
  }

  .matrix-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}



.navbarMobile {
  position: fixed;
  top: 7%;
  left: 100%;
  background-color: var(--MainColor);
  width: 50%;
  height: 40%;
  z-index: 100;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
  transition: top 0.6s ease-in;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  padding-top: 2%;
  transition: .6s;
  display: none;
}



.socialDropDown{
  width: 10vw;
  height: 18vh;
  position: absolute;
  left: 150vh;
  top: 100%;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 4px;
  padding: 0.3%;
  overflow: hidden;
  opacity: 0;
  /* display: none; */
  transition: .6s ease-in-out;
  pointer-events: none;
}
.socialDropDown.active{
  opacity: 1;
  display: flex;
  top: 6vh;
  transition: .3s ease-in-out;
  pointer-events: all;
  
}



.socialItem{
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  position: relative;
  transition: .6s ease-in;
  
}

.socialItem:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;

}


.socialIcon{
  position: absolute;
  left: -30%;
  padding: 1%;
  font-size: 1.3vw;
  transition: .8s ease-in-out;
}
.socialItem:hover .socialIcon{
  left: 8%;
  transition: .3s ease-in-out;

}
.socialName{
  position: absolute;
  transition: .6s ease-in;
  left: 2vw;
  color: var(--fontColor);
  font-size: 1.3vw;
}




.socialItem:hover > .socialName{
  transition: .3s ease-in-out;
  position: absolute;
  left: 3vw;
}
.socialItem:hover > .socialName, .socialItem:hover > .socialIcon{
  color: var(--fontColor-secondary);
}



/* 
  font-family: "Ysabeau Infant", sans-serif;
  font-family: "Finlandica", sans-serif;
  font-family: "Anta", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
*/










  @media (min-width: 901px) and (max-width: 1200px) {
    .headerMenu{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  /* NavbarTop style */
  .NavbarTop{
      width: 100%;
      height: 7vh;
      background-color: var(--background);
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      cursor: default;
  }
  
  .viabandTitle{
      font-size: 2vw;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      position: relative;
      transition: 600ms;
      overflow: hidden;
  }
  .viabandTitle::before{
      content: "";
      width: 100%;
      height: 3px;
      background-color: var(--secondary) ;
      position: absolute;
      bottom: 10%;
      right: 100%;
      transition: .5s ease-in;
  }
  .viabandTitle:hover::before{
      right: 0;
      width: 100%;
      transition: .5s ease-in;
  }
  
  .plains{
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 5%;
  }
  
  .plainsBtnOption{
      border: none;
      font-size: 1.6vw;
      font-family: "Montserrat", sans-serif;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 1;
      padding: 0 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--fontColor);
  }
  
  .plainsBtnOption:hover{
      color:  var(--secondary) ;
      color:  var(--backround) ;

  }
  .plainsBtnOption::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--secondary) ;
      background-color: var(--MainColor) ;
      position: absolute;
      bottom: -100%;
      transition: .5s ease-in;
      z-index: -1;
  }
  .plainsBtnOption:hover::before{
      transition: .5s ease-in-out;
      bottom: 0%;
      
  }
  
  
  .menu{
      width: 47%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 5%;
      font-family: "Montserrat", sans-serif;
  }
  
  .menuItem{
      position: relative;
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 1.2vw;
  }
  .menuItem::before{
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--secondary);
      position: absolute;
      right: 100%;
      bottom: 0%;
  
      transition: .6s ease;
  }
  
  .menuItem:hover::before, .menuItem:focus::before{
      right: 0px;
  }
  
  .menuItem::after{
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--secondary);
      position: absolute;
      left: 100%;
      top: 0%;
      transition: .6s ease;
  }
  
  .menuItem:hover::after, .menuItem:focus::after{
      left: 0px;
  }
  
  
  
  .menuItem:hover{
      /* color: var(--secondary); */
      cursor: pointer;
      transition: .3s;
  }
  
  
  .StyleModeIcon{
    font-size: 1.8vw;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
  .StyleModeIcon.Dark{
    color: #8f44fd;
  }
  
  
  
  .clientButton{
    width: 15%;
    height: 80%;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .6s ease;
    color: #8f44fd;
  }
  .clientButton::before{
      content: "";
      position: absolute;
      right: 100%;
      width: 100%;
      height: 100%;
      background-color: var(--purple2);
      background-color: #8f44fd;
      z-index: -1;
      transition: .6s ease;
  }
  .clientButton:hover{
      color: #fff;
      transition: .6s ease;
  }
  .clientButton:hover::before{
      right: 0;
      transition: .6s ease;
  }
  
  
  
  
  .clientTextBtn{
    font-size: 1.6vw;
  }
  
  
  
  
  
  
  
  
  
  
  .button {
      background: rgb(255 255 255 / 16%);
      border: 0;
      width: 56px;
      height: 56px;
      display: grid;
      place-items: center;
      cursor: pointer;
      padding: 0;
      opacity: 0.6;
      scale: 0.7;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.175s;
      display: none;
      background-color: var(--secondary);
    }
    
    .button:hover {
      opacity: 1;
      background: #8f44fd;
    }
  
  
    
    /* burger-1 */
  
  .burger-1 {
      scale: 0.75;
      position: relative;
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      transition-duration: 0.3s;
    }
    
    .burger-1 .bars {
      width: 100%;
      height: 4px;
      background-color: #f9f9f9;
      border-radius: 4px;
    }
    
    .burger-1 #bar2 {
      transition-duration: 0.6s;
    }
    
    .burger-1 #bar1,
    .burger-1 #bar3 {
      width: 70%;
    }
    
    .is-closed.burger-1 .bars {
      position: absolute;
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar2 {
      transform: scaleX(0);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar1 {
      width: 100%;
      transform: rotate(45deg);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar3 {
      width: 100%;
      transform: rotate(-45deg);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 {
      transition-duration: 0.3s;
      transform: rotate(180deg);
    }



    .navbarMobile {
      position: fixed;
      top: 7%;
      left: 100%;
      background-color: var(--MainColor);
      width: 50%;
      height: 40%;
      z-index: 100;
      border-bottom-left-radius: 6%;
      border-bottom-right-radius: 6%;
      transition: top 0.6s ease-in;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      gap: 5%;
      padding-top: 2%;
      transition: .6s;
      display: none;
  }




    .navbarBackground{
      width: 100%;
      height: 85%;
      background-color: black;
      overflow: hidden;
      position: relative;
    }
  
  

    .socialDropDown{
      width: 10%;
      height: 18vh;
      position: absolute;
      left: 72.5vw;
      top: 100%;
      background-color: var(--secondary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
      border-radius: 4px;
      padding: 0.3%;
      overflow: hidden;
      opacity: 0;
      /* display: none; */
      transition: .6s ease-in-out;
      pointer-events: none;
    }
    .socialDropDown.active{
      opacity: 1;
      display: flex;
      top: 86%;
      transition: .3s ease-in-out;
      pointer-events: all;
      
    }
    
    
    
    .socialItem{
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: "Open Sans", sans-serif;
      position: relative;
      transition: .6s ease-in;
      
    }
    
    .socialItem:hover {
      background-color: rgba(255, 255, 255, 0.3);
      cursor: pointer;
    
    }
    
    
    .socialIcon{
      position: absolute;
      left: -30%;
      padding: 1%;
      font-size: 1.3vw;
      transition: .8s ease-in-out;
    }
    .socialItem:hover .socialIcon{
      left: 8%;
      transition: .3s ease-in-out;
    
    }
    .socialName{
      position: absolute;
      transition: .6s ease-in;
      left: 2vw;
      color: var(--fontColor);
      font-size: 1.3vw;
    }
    
    
    
    
    .socialItem:hover > .socialName{
      transition: .3s ease-in-out;
      position: absolute;
      left: 3vw;
    }
    .socialItem:hover > .socialName, .socialItem:hover > .socialIcon{
      color: var(--fontColor-secondary);
    }
    
  
  
  
  }








  @media (min-width: 601px) and (max-width: 900px) {
    .headerMenu{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  /* NavbarTop style */
  .NavbarTop{
      width: 100%;
      height: 7vh;
      background-color: var(--background);
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      cursor: default;
  }
  
  .viabandTitle{
      font-size: 3vw;
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      position: relative;
      transition: 600ms;
      overflow: hidden;
  }
  .viabandTitle::before{
      content: "";
      width: 100%;
      height: 3px;
      background-color: var(--secondary) ;
      position: absolute;
      bottom: 10%;
      right: 100%;
      transition: .5s ease-in;
  }
  .viabandTitle:hover::before{
      
      right: 0;
      width: 100%;
      transition: .5s ease-in;
  }
  
  .plains{
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 5%;
      display: none;
  }
  
  .plainsBtnOption{
      border: none;
      font-size: 1.6vw;
      font-family: "Montserrat", sans-serif;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 1;
      padding: 0 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--fontColor);
  }
  
  .plainsBtnOption:hover{
      color:  var(--secondary) ;
      color:  var(--backround) ;

  }
  .plainsBtnOption::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--secondary) ;
      background-color: var(--MainColor) ;
      position: absolute;
      bottom: -100%;
      transition: .5s ease-in;
      z-index: -1;
  }
  .plainsBtnOption:hover::before{
      transition: .5s ease-in-out;
      bottom: 0%;
      
  }
  
  
  .menu{
      width: 70%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 5%;
      font-family: "Montserrat", sans-serif;
  }
  
  .menuItem{
      position: relative;
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 1.8vw;
      font-weight: 300;
  }
  .menuItem::before{
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--secondary);
      position: absolute;
      right: 100%;
      bottom: 0%;
  
      transition: .6s ease;
  }
  
  .menuItem:hover::before, .menuItem:focus::before{
      right: 0px;
  }
  
  .menuItem::after{
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--secondary);
      position: absolute;
      left: 100%;
      top: 0%;
      transition: .6s ease;
  }
  
  .menuItem:hover::after,  .menuItem:focus::after{
      left: 0px;
  }
  
  
  
  .menuItem:hover{
      /* color: var(--secondary); */
      cursor: pointer;
      transition: .3s;
  }
  

  .StyleModeIcon{
    font-size: 1.8vw;
    cursor: pointer;
    transition: .3s ease-in-out;
    display: none;
  }
  .StyleModeIcon.Dark{
    color: #8f44fd;
  }


  
  
  .clientButton{
    width: 15%;
    height: 100%;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .6s ease;
    color: #8f44fd;

    display: none;
  }
  .clientButton::before{
      content: "";
      position: absolute;
      right: 100%;
      width: 100%;
      height: 100%;
      background-color: var(--purple2);
      background-color: #8f44fd;
      z-index: -1;
      transition: .6s ease;
  }
  .clientButton:hover{
      color: #fff;
      transition: .6s ease;
  }
  .clientButton:hover::before{
      right: 0;
      transition: .6s ease;
  }
  
  
  
  
  .clientTextBtn{
    font-size: 1.6vw;
  }
  
  
  
  
  
  
  
  
  
  
  .button {
      background: rgb(255 255 255 / 16%);
      border: 0;
      width: 56px;
      height: 56px;
      display: grid;
      place-items: center;
      cursor: pointer;
      padding: 0;
      opacity: 0.6;
      scale: 0.7;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.175s;
      background-color: var(--secondary);
    }
    
    .button:hover {
      opacity: 1;
      background: #8f44fd;
    }
  
  
    
    /* burger-1 */
  
  .burger-1 {
      scale: 0.75;
      position: relative;
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      transition-duration: 0.3s;
    }
    
    .burger-1 .bars {
      width: 100%;
      height: 4px;
      background-color: #f9f9f9;
      border-radius: 4px;
    }
    
    .burger-1 #bar2 {
      transition-duration: 0.6s;
    }
    
    .burger-1 #bar1,
    .burger-1 #bar3 {
      width: 70%;
    }
    
    .is-closed.burger-1 .bars {
      position: absolute;
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar2 {
      transform: scaleX(0);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar1 {
      width: 100%;
      transform: rotate(45deg);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar3 {
      width: 100%;
      transform: rotate(-45deg);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 {
      transition-duration: 0.3s;
      transform: rotate(180deg);
    }





        /* NavbarMobile style */
    /* NavbarMobile style */
    /* NavbarMobile style */


    .navbarMobile {
      position: fixed;
      top: 7%;
      left: 100%;
      background-color: var(--MainColor);
      width: 50%;
      height: 40%;
      z-index: 100;
      border-bottom-left-radius: 6%;
      border-bottom-right-radius: 6%;
      transition: top 0.6s ease-in;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      gap: 5%;
      padding-top: 2%;
      transition: .6s;
  }
  
  .navbarMobile.active {
    left: 50%;
    top: 7%;
    transition: .6s;
  }

  .clientBtn{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3%;
    border-radius: 10px;
    border: none;
    gap: 5%;
    color: var(--purple2);
  }

  .clientIcon,.clientText{
    font-size: 3vw;
  }

  .clientText{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }


  .plainsOptions{
    width: 100%;
    height: 55%;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 18%;
  }

  .plainsBtnOptions{
    font-size: 3vw;
    text-transform: uppercase;
    padding: 5% 10%;
    border: solid 1px var(--background);
    border-radius: 5px;
    color: var(--fontColor);
    background-color: var(--MainColor);
    font-family: "Roboto", sans-serif;
    transition: .2s ease-in;
    font-weight: 400;
  }
  .plainsBtnOptions:focus{
    transition: .2s ease-in;
    color: var(--fontColor);
    background-color: var(--background);
    border: solid 1px transparent;
    letter-spacing: 1vw;
  }

  .optionsMenuList{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    width: 90%;
    height: 30%;
    font-weight: 500;
    display: none;
  }
  
  .optionsMenuItem{
    font-size: 8vw;
    font-family: "Quicksand", sans-serif;
    font-family: "Bebas Neue", sans-serif;
    color: var(--fontColor);
    position: relative;
  }
  .optionsMenuItem::before{
    content: "";
    background-color: var(--background);
    width: 1%;
    height: 1px;
    position: absolute;
    top: 100%;
    transition: .6s ease-in-out;
    opacity: 0;
  }
  .optionsMenuItem:hover::before{
    opacity: 1;
    transition: .6s ease-in-out;
    width: 100%;
  }


  .darkModeOption{
    background-color: var(--background);
    width: 25%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
    position: relative;
    border-radius: 2em;
    cursor: default;
    position: relative;
    margin: 2% 0;
    transition: .6s ease-in-out;  
    background-color: transparent;
  }

    .darkModeOption.active{
    background-color: var(--quarternary);

    transition: .6s ease-in-out;  
  }
  
 .iconAparence{
    position: absolute;
    left: 0%;
    font-size: 6vw;
    cursor: default;
    transition: .6s ease-in-out;  
  }


 .iconAparence.active{
    transform: rotateZ(180deg);
    left: 52%;
    transition: .6s ease-in-out; 
    color: var(--background); 
  }





  .navbarBackground{
    width: 100%;
    height: 45vh;
    background-color: black;
    overflow: hidden;
    position: relative;
  }





  
  .socialDropDown{
    width: 17vw;
    height: 18vh;
    position: absolute;
    left: 75vw;
    top: 100%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 4px;
    padding: 0.3%;
    overflow: hidden;
    opacity: 0;
    /* display: none; */
    transition: .6s ease-in-out;
    pointer-events: none;
  }
  .socialDropDown.active{
    opacity: 1;
    display: flex;
    top: 86%;
    transition: .3s ease-in-out;
    pointer-events: all;
    
  }
  
  
  
  .socialItem{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    transition: .6s ease-in;
    
  }
  
  .socialItem:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  
  }
  
  
  .socialIcon{
    position: absolute;
    left: -30%;
    padding: 1%;
    font-size: 2vw;
    transition: .8s ease-in-out;
  }
  .socialItem:hover .socialIcon{
    left: 3vw;
    transition: .3s ease-in-out;
  
  }
  .socialName{
    position: absolute;
    transition: .6s ease-in;
    left: 2vw;
    color: var(--fontColor);
    font-size: 1.9vw;
  }
  
  
  
  
  .socialItem:hover > .socialName{
    transition: .3s ease-in-out;
    position: absolute;
    left: 6vw;
  }
  .socialItem:hover > .socialName, .socialItem:hover > .socialIcon{
    color: var(--fontColor-secondary);
  }


  }





  @media (max-width: 600px) {
    .headerMenu{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  
  /* NavbarTop style */
  .NavbarTop{
    width: 100%;
    height: 10vh;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    cursor: default;
    z-index: 101;
    position: relative;
    transition: top 0.6s ease-in;
  }
  
  .NavbarTop.active{
    background-color: var(--MainColor);
    color: #fff;
    position: fixed;
  }
  
  .viabandTitle{
    font-size: 8vw;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    transition: 600ms;
    overflow: hidden;
  }

  .viabandTitle.active{
    color: var(--secondary);
  }


  .viabandTitle::before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--secondary);
    position: absolute;
    bottom: 15%;
    right: 100%;
    transition: .5s ease-in;
  }
  .viabandTitle:hover::before{  
      right: 0;
      width: 100%;
      transition: .5s ease-in;
  }
  
  .plains{
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 5%;
      display: none;
  }
  
  .plainsBtnOption{
      border: none;
      font-size: 1.6vw;
      font-family: "Montserrat", sans-serif;
      background-color: transparent;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      z-index: 1;
      padding: 0 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--fontColor);
  }
  
  .plainsBtnOption:hover{
      color:  var(--secondary) ;
      color:  var(--backround) ;

  }
  .plainsBtnOption::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--secondary) ;
      background-color: var(--MainColor) ;
      position: absolute;
      bottom: -100%;
      transition: .5s ease-in;
      z-index: -1;
  }
  .plainsBtnOption:hover::before{
      transition: .5s ease-in-out;
      bottom: 0%;
      
  }
  
  
  .menu{
      width: 70%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      list-style: none;
      gap: 5%;
      font-family: "Montserrat", sans-serif;
  }
  
  .menuItem{
      position: relative;
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      text-transform: uppercase;
      font-size: 2vw;
  }
  .menuItem::before{
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--secondary);
      position: absolute;
      right: 100%;
      bottom: 0%;
  
      transition: .6s ease;
  }
  
  .menuItem:hover::before, .menuItem:focus::before{
      right: 0px;
  }
  
  .menuItem::after{
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--secondary);
      position: absolute;
      left: 100%;
      top: 0%;
      transition: .6s ease;
  }
  
  .menuItem:hover::after{
      left: 0px;
  }
  
  
  
  .menuItem:hover{
      /* color: var(--secondary); */
      cursor: pointer;
      transition: .3s;
  }
  
  .StyleModeIcon{
    font-size: 1.8vw;
    cursor: pointer;
    transition: .3s ease-in-out;
    display: none;
  }
  .StyleModeIcon.Dark{
    color: #8f44fd;
  }
  
  
  .clientButton{
    width: 15%;
    height: 100%;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: .6s ease;
    color: #8f44fd;

    display: none;
  }
  .clientButton::before{
      content: "";
      position: absolute;
      right: 100%;
      width: 100%;
      height: 100%;
      background-color: var(--purple2);
      background-color: #8f44fd;
      z-index: -1;
      transition: .6s ease;
  }
  .clientButton:hover{
      color: #fff;
      transition: .6s ease;
  }
  .clientButton:hover::before{
      right: 0;
      transition: .6s ease;
  }
  
  
  
  
  .clientTextBtn{
    font-size: 1.6vw;
  }
  
  
  
  
  
  
  
  
  
  
  .button {
    background: rgb(255 255 255 / 16%);
    border: 0;
    width: 23%;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    padding: 0;
    opacity:1;
    scale: 0.7;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.175s;
    background-color: var(--secondary);
    z-index: 100;
    }
    
    .button:hover {
      opacity: 1;
    }
    
  
  
    
    /* burger-1 */
  
  .burger-1 {
    scale: 1.3;
    position: relative;
    width: 55%;
    height: 53%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25%;
    transition-duration: 0.3s;
    }
    
    .burger-1 .bars {
      width: 100%;
      height: 4px;
      background-color: #f9f9f9;
      border-radius: 4px;
    }
    
    .burger-1 #bar2 {
      transition-duration: 0.6s;
    }
    
    .burger-1 #bar1,
    .burger-1 #bar3 {
      width: 70%;
    }
    
    .is-closed.burger-1 .bars {
      position: absolute;
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar2 {
      transform: scaleX(0);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar1 {
      width: 100%;
      transform: rotate(45deg);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 #bar3 {
      width: 100%;
      transform: rotate(-45deg);
      transition-duration: 0.3s;
    }
    
    .is-closed.burger-1 {
      transition-duration: 0.3s;
      transform: rotate(180deg);
    }





    /* NavbarMobile style */
    /* NavbarMobile style */
    /* NavbarMobile style */


    .navbarMobile {
      position: fixed;
      top: -100%;
      left: 10%;
      background-color: var(--MainColor);
      width: 94%;
      height: 86%;
      z-index: 100;
      border-bottom-left-radius: 6%;
      border-bottom-right-radius: 6%;
      transition: top 0.6s ease-in;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      gap: 5%;
      padding-top: 2%;
      transition: 600ms ease-in;
  }
  
  .navbarMobile.active {
      top: 10%;
      left: 10%;
      transition: 600ms ease-in;
  }

  .clientBtn{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3%;
    border-radius: 10px;
    border: none;
    gap: 5%;
    color: var(--purple2);
  }

  .clientIcon,.clientText{
    font-size: 7vw;
  }

  .clientText{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }


  .plainsOptions{
    width: 100%;
    height: 32%;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 3%;
  }

  .plainsBtnOptions{
    font-size: 6.3vw;
    text-transform: uppercase;
    padding: 5% 10%;
    border: solid 1px var(--background);
    border-radius: 5px;
    color: var(--fontColor-secondary);
    color: var(--fontColor);
    background-color: var(--background);
    background-color: var(--MainColor);
    font-family: "Roboto", sans-serif;
    transition: .2s ease-in;
    font-weight: 400;
  }
  .plainsBtnOptions:focus{
    transition: .2s ease-in;
    color: var(--fontColor);
    background-color: var(--background);
    border: solid 1px transparent;
    letter-spacing: 1vw;
  }

  .optionsMenuList{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    width: 90%;
    height: 32%;
  }
  
  .optionsMenuItem{
    font-size: 7vw;
    font-family: "Bebas Neue", sans-serif;
    font-family: "Quicksand", sans-serif;
    color: var(--fontColor);
    position: relative;
    font-weight: 600;
  }
  .optionsMenuItem::before{
    content: "";
    background-color: var(--background);
    width: 1%;
    height: 1px;
    position: absolute;
    top: 100%;
    transition: .6s ease-in-out;
    opacity: 0;
  }
  .optionsMenuItem:hover::before{
    opacity: 1;
    transition: .6s ease-in-out;
    width: 100%;
  }


  .darkModeOption{
    background-color: var(--background);
    width: 25%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
    position: relative;
    border-radius: 2em;
    cursor: default;
    position: relative;
    margin: 8% 0;
    transition: .6s ease-in-out;
    background-color: transparent;
  }

    .darkModeOption.active{
    background-color: var(--quarternary);

    transition: .6s ease-in-out;  
  }
  
 .iconAparence{
    position: absolute;
    left: 0%;
    font-size: 12.1vw;
    cursor: default;
    transition: .6s ease-in-out;  
  }


 .iconAparence.active{
    transform: rotateZ(180deg);
    left: 52%;
    transition: .6s ease-in-out; 
    color: var(--background); 
  }
  




  .navbarBackground{
    width: 100%;
    height: 50vh;
    background-color: black;
    overflow: hidden;
    position: relative;
  }



  .socialDropDown{
    width: 17vw;
    height: 18vh;
    position: absolute;
    left: 75vw;
    top: 100%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    border-radius: 4px;
    padding: 0.3%;
    overflow: hidden;
    opacity: 0;
    transition: .6s ease-in-out;
    pointer-events: none;
    display: none;
    
  }
  .socialDropDown.active{
    opacity: 1;
    display: flex;
    top: 86%;
    transition: .3s ease-in-out;
    pointer-events: all;
    display: none;
    
  }
  
  
  
  .socialItem{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    position: relative;
    transition: .6s ease-in;
    
  }
  
  .socialItem:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  
  }
  
  
  .socialIcon{
    position: absolute;
    left: -30%;
    padding: 1%;
    font-size: 2vw;
    transition: .8s ease-in-out;
  }
  .socialItem:hover .socialIcon{
    left: 3vw;
    transition: .3s ease-in-out;
  
  }
  .socialName{
    position: absolute;
    transition: .6s ease-in;
    left: 2vw;
    color: var(--fontColor);
    font-size: 1.9vw;
  }
  
  
  
  
  .socialItem:hover > .socialName{
    transition: .3s ease-in-out;
    position: absolute;
    left: 6vw;
  }
  .socialItem:hover > .socialName, .socialItem:hover > .socialIcon{
    color: var(--fontColor-secondary);
  }




  .socialMidiaListMobile{
    width: 23%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13vw;
    align-items: center;
    list-style: none;
    font-size: 9vw;
    margin-bottom: 3vw;
    position: absolute;
    left: 3vw;
    top: 36vh;
    border-radius: 15px;
  }

  .socialMidiaItemMobile{
    width: 90%;
    height: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 3vw;
  }


  .socialIconMobile{
    font-size: 9vw;
    color: #fff;
  }
  .socialMidiaItemMobile:nth-child(1){
    background-color: #15F5BA;
  }
  .socialMidiaItemMobile:nth-child(2){
    background: #FF4E88 85%;
  }
  .socialMidiaItemMobile:nth-child(3){
    background: #4158A6;
  }
  



  }
  


/* 
  font-family: "Ysabeau Infant", sans-serif;
  font-family: "Finlandica", sans-serif;
  font-family: "Anta", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
*/