.avtPageClientCEP{
    grid-area: Ss3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.ClientCEPTitle{
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.7);
    display: block;
}
.ClientCEPTitle-2{
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    bottom: 100%;
}

.AdressInfo{
    margin: 0 1%;
}

.ClientCEPRes{
    font-size: 1.8;
    color: #8f44fd;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
}



@media (min-width: 901px) and (max-width: 1200px) and (orientation: portrait){

    .ClientCEPTitle-2{
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    bottom: 100%;
}
}
@media (min-width: 901px) and (max-width: 1200px) and (orientation: landscape){
    .ClientCEPTitle-2{
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    bottom: 100%;
}
}
@media (min-width: 601px) and (max-width: 900px) and (orientation: portrait){
    .ClientCEPTitle-2{
    font-size: 4vw;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    bottom: 100%;
}

.avtPageClientCEP{
    grid-area: Ss3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    height: 25vh;
}


.ClientCEPRes{
    font-size: 3vw;
    color: #8f44fd;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
}

}
@media (min-width: 601px) and (max-width: 900px) and (orientation: landscape){
    .ClientCEPTitle-2{
    font-size: 1.8vw;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    bottom: 100%;
}

.ClientCEPRes{
    font-size: 4vh;
    color: #8f44fd;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
}

.avtPageClientCEP{
    grid-area: Ss3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}
}
@media (max-width: 600px) and (orientation: portrait){
    .avtPageClientCEP{
        grid-area: Ss3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Open Sans", sans-serif;
        height: 22vh;
    }

    .ClientCEPTitle{
        font-size: 5vw;
        color: rgba(0, 0, 0, 0.7);
        display: block;
    }


    .ClientCEPTitle-2{
    font-size: 5vw;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    bottom: 100%;
}
}
@media (max-width: 600px) and (orientation: landscape){
    .ClientCEPTitle-2{
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
    bottom: 100%;
}
}