


 .card{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 5%;
   flex-direction: column;
   color: #eee;
   cursor: default;
   border-radius: 2em;
   background:var(--MainColor);
   border-radius: 10px;
   transition: .6s ease-in;
  }

  .card.Sublime{
    background-color: #FF8343;
  }

.glassBackground{
  border: solid 1px var(--background);
  position: relative;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.glassBackground.sublime{
  border: none;
}

.cardTitle{
  letter-spacing: 0.6vw;
  font-size: 2vw;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Anta", sans-serif;
  position: relative;
  top: -6.7%;
  background-color: var(--MainColor);
  border: solid 1px var(--background);
  padding: 1% 3%;
  border-radius: 10px;
}
.cardTitle.sublime{
  background-color: #FF8343;
  border: none;
}

  .cardMega{
    font-family: "Ysabeau Infant", sans-serif;
    font-family: "Finlandica", sans-serif;
    font-family: "Anta", sans-serif;
    font-family: "Prompt", sans-serif;
    font-size: 3vw;
  }

  .cardCdn{
    font-family: "Montserrat", sans-serif;
    font-size: 0.9vw;
    width: 57%;
    display: flex;
  }
  
  .cardPrice{
  font-size: 3.2vw;
  font-family: "Kanit", sans-serif;
}

.pricingHr{
  width: 80%;
  background-color: #eee;
}


.cardPlainDescriptionList{
  width: 90%;
  height: 38%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
}

.cardPlainItems{
  width: 80%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  position: relative;
  font-family: "Kanit", sans-serif;
}

.pricingIcon{
  position: absolute;
  left: 0;
  font-size: 1.5vw;
}

.cardPlainItemsValue{
  font-size: 1.4vw;
}


.cardPlainItems:nth-last-child(2) .cardPlainItemstext {
  font-size: 1vw;
}
.cardPlainItemstext{
  margin-left: 5%;
  font-size: 1.5vw;
}


.princingBtn{
  font-size: 1.2vw;
  padding: 2%;
  color: var(--fontColor);
  font-family: "Poppins", sans-serif;  
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--quarternary);
  border: solid 1px transparent;
}
.princingBtn:hover{
  border: solid 1px var(--secondary);
  color: var(--secondary);
}
.princingBtn::before{
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--MainColor);
  z-index: -1;
  transition: .6s ease-in-out;
}

.princingBtn:hover::before{
  right: 0%;
  transition: .4s ease-in;
} 


.princingBtnWhatsApp{
  width: 90%;
  height: 10%;
  background-color: #54C392;
  cursor: pointer;
  color: #eee;
  border: none;
  margin: 2% 0;
  border-radius: 4px;
  font-size: 1.1vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  position: relative;
}
.princingBtnWhatsApp:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: .6s ease-in;
}
.princingBtnWhatsApp:hover:after{
  bottom: 0%;
  transition: .1s ease-in;
}




/* .card{
  width: 95%;
  height: 95%;
  background-color: #720455;
  position: absolute;
  transition: .3s ease-in;
  right: 6%;
  bottom: 2%;
} */


@media (min-width: 901px) and (max-width: 1200px) and (orientation: portrait){
  
 .card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  flex-direction: column;
  color: #eee;
  cursor: default;
  border-radius: 2em;
  background:var(--MainColor);
  border-radius: 10px;
  transition: .6s ease-in;
 }


.glassBackground{
 border: solid 1px var(--background);
 position: relative;
 width: 90%;
 height: 90%;
 border-radius: 10px;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 align-items: center;
}

.cardTitle{
   letter-spacing: 0.6vw;
   font-size: 2vw;
   text-transform: uppercase;
   font-family: "Bebas Neue", sans-serif;
   font-family: "Anta", sans-serif;
   position: relative;
   top: -6.7%;
   background-color: var(--MainColor);
   border: solid 1px var(--background);
   padding: 1% 3%;
   border-radius: 10px;
 }

 .cardMega{
  font-family: "Ysabeau Infant", sans-serif;
  font-family: "Finlandica", sans-serif;
  font-family: "Anta", sans-serif;
  font-family: "Prompt", sans-serif;
  font-size: 3vw;
}

.cardCdn{
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
  width: 57%;
  display: flex;
}


 
 .cardPrice{
 font-size: 5.5vw;
 font-family: "Kanit", sans-serif;
}

.pricingHr{
 width: 80%;
 background-color: #eee;
}


.cardPlainDescriptionList{
 width: 90%;
 height: 38%;
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-direction: column;
 list-style: none;
}

.cardPlainItems{
 width: 80%;
 display: flex;
 justify-content:center;
 align-items: center;
 flex-direction: row;
 position: relative;
 font-family: "Kanit", sans-serif;
}

.pricingIcon{
 position: absolute;
 left: 0;
 font-size: 2.5vw;
}

.cardPlainItemsValue{
  font-size: 1.8vw;
}


.cardPlainItems:nth-last-child(2) .cardPlainItemstext {
 font-size: 1.2vw;
}
.cardPlainItemstext{
 margin-left: 5%;
 font-size:1.9vw;
}


.princingBtn{
  font-size: 1.7vw;
  padding: 2% 15%;
 color: var(--fontColor);
 font-family: "Poppins", sans-serif;  
 cursor: pointer;
 position: relative;
 overflow: hidden;
 z-index: 1;
 background-color: var(--quarternary);
 border: solid 1px transparent;
}
.princingBtn:hover{
 border: solid 1px var(--secondary);
 color: var(--secondary);
}
.princingBtn::before{
 content: "";
 position: absolute;
 top: 0;
 right: 100%;
 width: 100%;
 height: 100%;
 background-color: var(--MainColor);
 z-index: -1;
 transition: .6s ease-in-out;
}

.princingBtn:hover::before{
 right: 0%;
 transition: .4s ease-in;
} 

.princingBtnWhatsApp{
  width: 90%;
  height: 10%;
  background-color: #54C392;
  cursor: pointer;
  color: #eee;
  border: none;
  margin: 2% 0;
  border-radius: 4px;
  font-size: 1.1vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  position: relative;
}
}

@media (min-width: 901px) and (max-width: 1200px) and (orientation: landscape){
  card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    flex-direction: column;
    color: #eee;
    cursor: default;
    border-radius: 2em;
    background:var(--MainColor);
    border-radius: 10px;
    transition: .6s ease-in;
   }
  
  
  .glassBackground{
   border: solid 1px var(--background);
   position: relative;
   width: 90%;
   height: 90%;
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   align-items: center;
  }
  
  .cardTitle{
     letter-spacing: 0.6vw;
     font-size: 2vw;
     text-transform: uppercase;
     font-family: "Bebas Neue", sans-serif;
     font-family: "Anta", sans-serif;
     position: relative;
     top: -6.7%;
     background-color: var(--MainColor);
     border: solid 1px var(--background);
     padding: 1% 3%;
     border-radius: 10px;
   }


   .cardMega{
    font-family: "Ysabeau Infant", sans-serif;
    font-family: "Finlandica", sans-serif;
    font-family: "Anta", sans-serif;
    font-family: "Prompt", sans-serif;
    font-size: 3vw;
  }

  .cardCdn{
    font-family: "Montserrat", sans-serif;
    font-size: 0.9vw;
    width: 57%;
    display: flex;
  }
   
   .cardPrice{
   font-size: 5.5vw;
   font-family: "Kanit", sans-serif;
  }
  
  .pricingHr{
   width: 80%;
   background-color: #eee;
  }
  
  
  .cardPlainDescriptionList{
   width: 90%;
   height: 38%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   list-style: none;
  }
  
  .cardPlainItems{
   width: 80%;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: row;
   position: relative;
   font-family: "Kanit", sans-serif;
  }
  
  .pricingIcon{
   position: absolute;
   left: 0;
   font-size: 2.5vw;
  }
  
  .cardPlainItemsValue{
    font-size: 1.8vw;
  }
  
  
  .cardPlainItems:nth-last-child(2) .cardPlainItemstext {
   font-size: 1.2vw;
  }
  .cardPlainItemstext{
   margin-left: 5%;
   font-size:1.9vw;
  }
  
  
  .princingBtn{
    font-size: 1.7vw;
    padding: 2% 15%;
   color: var(--fontColor);
   font-family: "Poppins", sans-serif;  
   cursor: pointer;
   position: relative;
   overflow: hidden;
   z-index: 1;
   background-color: var(--quarternary);
   border: solid 1px transparent;
  }
  .princingBtn:hover{
   border: solid 1px var(--secondary);
   color: var(--secondary);
  }
  .princingBtn::before{
   content: "";
   position: absolute;
   top: 0;
   right: 100%;
   width: 100%;
   height: 100%;
   background-color: var(--MainColor);
   z-index: -1;
   transition: .6s ease-in-out;
  }
  
  .princingBtn:hover::before{
   right: 0%;
   transition: .4s ease-in;
  } 

  .princingBtnWhatsApp{
    width: 90%;
    height: 10%;
    background-color: #54C392;
    cursor: pointer;
    color: #eee;
    border: none;
    margin: 2% 0;
    border-radius: 4px;
    font-size: 1.1vw;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    position: relative;
  }
}


@media (min-width: 601px) and (max-width: 900px) and  (orientation: portrait){
   
 .card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  flex-direction: column;
  color: #eee;
  cursor: default;
  border-radius: 2em;
  background:var(--MainColor);
  border-radius: 10px;
  transition: .6s ease-in;
 }


.glassBackground{
 border: solid 1px var(--background);
 position: relative;
 width: 90%;
 height: 90%;
 border-radius: 10px;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 align-items: center;
}

.cardTitle{
  letter-spacing: 1vw;
  font-size: 5vw;
   text-transform: uppercase;
   font-family: "Bebas Neue", sans-serif;
   font-family: "Anta", sans-serif;
   position: relative;
   top: -6.7%;
   background-color: var(--MainColor);
   border: solid 1px var(--background);
   padding: 1% 3%;
   border-radius: 10px;
 }

 .cardMega{
  font-family: "Prompt", sans-serif;
  font-size: 6vw;
}

.cardCdn{
  font-family: "Montserrat", sans-serif;
  font-size: 2.3vw;
  width: 68%;
  display: flex;
}
 
 .cardPrice{
 font-size: 8vw;
 font-family: "Kanit", sans-serif;
}

.pricingHr{
 width: 80%;
 background-color: #eee;
}


.cardPlainDescriptionList{
 width: 90%;
 height: 38%;
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-direction: column;
 list-style: none;
}

.cardPlainItems{
 width: 80%;
 display: flex;
 justify-content:center;
 align-items: center;
 flex-direction: row;
 position: relative;
 font-family: "Kanit", sans-serif;
}

.pricingIcon{
 position: absolute;
 left: 0;
 font-size: 3.5vw;
}


.cardPlainItemsValue{
  font-size: 3vw;
}

.cardPlainItems:nth-last-child(2) .cardPlainItemstext {
 font-size: 2.1vw;
}
.cardPlainItemstext{
  margin-left: 5%;
  font-size: 2.9vw;
}


.princingBtn{
  font-size: 3.7vw;
  padding: 2% 15%;
 color: var(--fontColor);
 font-family: "Poppins", sans-serif;  
 cursor: pointer;
 position: relative;
 overflow: hidden;
 z-index: 1;
 background-color: var(--quarternary);
 border: solid 1px transparent;
}
.princingBtn:hover{
 border: solid 1px var(--secondary);
 color: var(--secondary);
}
.princingBtn::before{
 content: "";
 position: absolute;
 top: 0;
 right: 100%;
 width: 100%;
 height: 100%;
 background-color: var(--MainColor);
 z-index: -1;
 transition: .6s ease-in-out;
}

.princingBtn:hover::before{
 right: 0%;
 transition: .4s ease-in;
} 


.princingBtnWhatsApp{
  width: 90%;
  height: 10%;
  background-color: #54C392;
  cursor: pointer;
  color: #eee;
  border: none;
  margin: 2% 0;
  border-radius: 4px;
  font-size: 2.4vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  position: relative;
}
}

@media (min-width: 601px) and (max-width: 900px) and  (orientation: landscape){
   
 .card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  flex-direction: column;
  color: #eee;
  cursor: default;
  border-radius: 2em;
  background:var(--MainColor);
  border-radius: 10px;
  transition: .6s ease-in;
 }


.glassBackground{
 border: solid 1px var(--background);
 position: relative;
 width: 90%;
 height: 90%;
 border-radius: 10px;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 align-items: center;
}

.cardTitle{
  letter-spacing: 1vw;
  font-size: 3vw;
   text-transform: uppercase;
   font-family: "Bebas Neue", sans-serif;
   font-family: "Anta", sans-serif;
   position: relative;
   top: -6.7%;
   background-color: var(--MainColor);
   border: solid 1px var(--background);
   padding: 1% 3%;
   border-radius: 10px;
 }

 .cardMega{
  font-family: "Ysabeau Infant", sans-serif;
  font-family: "Finlandica", sans-serif;
  font-family: "Anta", sans-serif;
  font-family: "Prompt", sans-serif;
  font-size: 3vw;
}

.cardCdn{
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
  width: 57%;
  display: flex;
}
 
 .cardPrice{
 font-size: 6vw;
 font-family: "Kanit", sans-serif;
}

.pricingHr{
 width: 80%;
 background-color: #eee;
}


.cardPlainDescriptionList{
 width: 90%;
 height: 38%;
 display: flex;
 align-items: center;
 justify-content: space-around;
 flex-direction: column;
 list-style: none;
}

.cardPlainItems{
 width: 80%;
 display: flex;
 justify-content:center;
 align-items: center;
 flex-direction: row;
 position: relative;
 font-family: "Kanit", sans-serif;
}

.pricingIcon{
 position: absolute;
 left: 0;
 font-size: 2.5vw;
}


.cardPlainItemsValue{
  font-size: 3vw;
}

.cardPlainItems:nth-last-child(2) .cardPlainItemstext {
 font-size: 2.1vw;
}
.cardPlainItemstext{
  margin-left: 5%;
  font-size: 2.4vw;
}


.princingBtn{
  font-size: 2vw;
  padding: 2% 15%;
 color: var(--fontColor);
 font-family: "Poppins", sans-serif;  
 cursor: pointer;
 position: relative;
 overflow: hidden;
 z-index: 1;
 background-color: var(--quarternary);
 border: solid 1px transparent;
}
.princingBtn:hover{
 border: solid 1px var(--secondary);
 color: var(--secondary);
}
.princingBtn::before{
 content: "";
 position: absolute;
 top: 0;
 right: 100%;
 width: 100%;
 height: 100%;
 background-color: var(--MainColor);
 z-index: -1;
 transition: .6s ease-in-out;
}

.princingBtn:hover::before{
 right: 0%;
 transition: .4s ease-in;
} 


.princingBtnWhatsApp{
  width: 90%;
  height: 10%;
  background-color: #54C392;
  cursor: pointer;
  color: #eee;
  border: none;
  margin: 2% 0;
  border-radius: 4px;
  font-size: 1.8vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  position: relative;
}
}


@media (max-width: 600px) and  (orientation: portrait) {
    
 .card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  flex-direction: column;
  color: #eee;
  background: var(--MainColor);
  border-radius: 10px;
  transition: .6s ease-in;
 }


.glassBackground{
  border: solid 1px var(--background);
  position: relative;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.cardTitle{
  letter-spacing: 1vw;
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Anta", sans-serif;
  position: relative;
  top: -5.9%;
  background-color: var(--MainColor);
  border: solid 1px var(--background);
  padding: 1% 3%;
  border-radius: 10px;
 }

 .cardMega{
        font-family: "Prompt", sans-serif;
        font-size: 13vw;
}

.cardCdn{
  font-family: "Montserrat", sans-serif;
  font-size: 3.5vw;
  width: 57%;
  display: flex;
}
 
 .cardPrice{
 font-size: 13vw;
 font-family: "Kanit", sans-serif;
}

.pricingHr{
 width: 80%;
 background-color: #eee;
}


.cardPlainDescriptionList{
  width: 90%;
  height: 38%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
}

.cardPlainItems{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  font-family: "Kanit", sans-serif;
}

.pricingIcon{
 position: absolute;
 left: 0;
 font-size: 7vw;
}


.cardPlainItemsValue{
  font-size: 9vw;
}

.cardPlainItems:nth-last-child(2) .cardPlainItemstext {
  font-size: 5.7vw;
  margin-right: -19%;
}
.cardPlainItemstext{
  margin-left: 5%;
  font-size: 7vw;
}


.princingBtn{
  font-size: 6vw;
  padding: 2% 10%;
  color: var(--fontColor);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--quarternary);
}
.princingBtn:hover{
 border: solid 1px var(--secondary);
 color: var(--secondary);
}
.princingBtn::before{
 content: "";
 position: absolute;
 top: 0;
 right: 100%;
 width: 100%;
 height: 100%;
 background-color: var(--MainColor);
 z-index: -1;
 transition: .6s ease-in-out;
}

.princingBtn:hover::before{
 right: 0%;
 transition: .4s ease-in;
} 



.princingBtnWhatsApp{
  width: 90%;
  height: 10%;
  background-color: #54C392;
  cursor: pointer;
  color: #eee;
  border: none;
  margin: 2% 0;
  border-radius: 4px;
  font-size: 5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  position: relative;
}
}


@media (max-width: 600px) and  (orientation: landscape){
     
 .card{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  flex-direction: column;
  color: #eee;
  background: var(--MainColor);
  border-radius: 10px;
  transition: .6s ease-in;
 }


.glassBackground{
  border: solid 1px var(--background);
  position: relative;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.cardTitle{
  letter-spacing: 1vw;
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Anta", sans-serif;
  position: relative;
  top: -5.9%;
  background-color: var(--MainColor);
  border: solid 1px var(--background);
  padding: 1% 3%;
  border-radius: 10px;
 }

 .cardMega{
  font-family: "Ysabeau Infant", sans-serif;
  font-family: "Finlandica", sans-serif;
  font-family: "Anta", sans-serif;
  font-family: "Prompt", sans-serif;
  font-size: 3vw;
}

.cardCdn{
  font-family: "Montserrat", sans-serif;
  font-size: 0.9vw;
  width: 57%;
  display: flex;
}

 
 .cardPrice{
 font-size: 11vw;
 font-family: "Kanit", sans-serif;
}

.pricingHr{
 width: 80%;
 background-color: #eee;
}


.cardPlainDescriptionList{
  width: 90%;
  height: 38%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
}

.cardPlainItems{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  font-family: "Kanit", sans-serif;
}

.pricingIcon{
 position: absolute;
 left: 0;
 font-size: 6vw;
}


.cardPlainItemsValue{
  font-size: 6vw;
}

.cardPlainItems:nth-last-child(2) .cardPlainItemstext {
  font-size: 5.7vw;
  margin-right: -19%;
}
.cardPlainItemstext{
  margin-left: 5%;
  font-size: 6vw;
}


.princingBtn{
  font-size: 4vw;
  padding: 2% 10%;
  color: var(--fontColor);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--quarternary);
}
.princingBtn:hover{
 border: solid 1px var(--secondary);
 color: var(--secondary);
}
.princingBtn::before{
 content: "";
 position: absolute;
 top: 0;
 right: 100%;
 width: 100%;
 height: 100%;
 background-color: var(--MainColor);
 z-index: -1;
 transition: .6s ease-in-out;
}

.princingBtn:hover::before{
 right: 0%;
 transition: .4s ease-in;
} 




.princingBtnWhatsApp{
  width: 90%;
  height: 10%;
  background-color: #54C392;
  cursor: pointer;
  color: #eee;
  border: none;
  margin: 2% 0;
  border-radius: 4px;
  font-size: 5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  position: relative;
}
} 
