.InputSectionInfo{
    grid-area: SI;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}


.input-wrapper-default{
    width: 23%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    flex-wrap: wrap;
    flex-direction: column;
}
.input-default{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: solid 1px;
    background-color: #fff;
    transition: ease-in-out .6s;
    border-radius: 10px;
}


.input-default::selection{
    background-color: #8f44fd;
    color: #fff;
}


.input-default:active,
.input-default:focus{
    border: solid 1px;
    outline: none;
    border-radius: 0em;
    transition: ease-in-out .6s;
}
.input-default:focus + .label-default,
.input-default:valid + .label-default{
    top: -20%; 
    left: 10%;
    font-size: 1vw;
    transition: .2s ease-in-out; 
}


.label-default{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
}

.CEPLink{
  color: #8f44fd;
  font-family: "Montserrat", sans-serif;
    font-size: 1.1vw;
    border-bottom: solid 1px ;
}










@media (min-width: 901px) and (max-width: 1200px) and (orientation: portrait){
    .InputSectionInfo{
    grid-area: SI;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.input-wrapper-default{
    width: 23%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    flex-wrap: wrap;
    flex-direction: column;
}


.input-default{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: solid 1px;
    background-color: #fff;
    transition: ease-in-out .6s;
    border-radius: 10px;
}


.input-default:focus + .label-default,
.input-default:valid + .label-default{
    top: -20%; 
    left: 10%;
    font-size: 1vw;
    transition: .2s ease-in-out; 
}

.label-default{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
}



.CEPLink{
    color: #8f44fd;
    font-family: "Montserrat", sans-serif;
      font-size: 1.1vw;
      border-bottom: solid 1px ;
  }
}
@media (min-width: 901px) and (max-width: 1200px) and (orientation: landscape){
    .InputSectionInfo{
    grid-area: SI;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.input-wrapper-default{
    width: 23%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    flex-wrap: wrap;
    flex-direction: column;
}


.input-default{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: solid 1px;
    background-color: #fff;
    transition: ease-in-out .6s;
    border-radius: 10px;
}


.input-default:focus + .label-default,
.input-default:valid + .label-default{
    top: -20%; 
    left: 10%;
    font-size: 1vw;
    transition: .2s ease-in-out; 
}


.label-default{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
}




.CEPLink{
    color: #8f44fd;
    font-family: "Montserrat", sans-serif;
      font-size: 1.1vw;
      border-bottom: solid 1px ;
  }
}
@media (min-width: 601px) and (max-width: 900px) and (orientation: portrait){
    .InputSectionInfo{
    grid-area: SI;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.input-wrapper-default{
    width: 23%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    flex-wrap: wrap;
    flex-direction: column;
}


.input-default{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: solid 1px;
    background-color: #fff;
    transition: ease-in-out .6s;
    border-radius: 10px;
}


.input-default:focus + .label-default,
.input-default:valid + .label-default{
    top: -20%; 
    left: 10%;
    font-size: 1vw;
    transition: .2s ease-in-out; 
}

.label-default{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
}



.CEPLink{
    color: #8f44fd;
    font-family: "Montserrat", sans-serif;
      font-size: 1.1vw;
      border-bottom: solid 1px ;
  }
}
@media (min-width: 601px) and (max-width: 900px) and (orientation: landscape){
    .InputSectionInfo{
    grid-area: SI;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1%;
}

.input-wrapper-default{
    width: 25%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}


.input-default{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: solid 1px;
    background-color: #fff;
    transition: ease-in-out .6s;
    border-radius: 10px;
}



.input-default:focus + .label-default,
.input-default:valid + .label-default{
    top: -20%; 
    left: 10%;
    font-size: 1vw;
    transition: .2s ease-in-out; 
}

.label-default{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
}



.CEPLink{
    color: #8f44fd;
    font-family: "Montserrat", sans-serif;
      font-size: 1.1vw;
      border-bottom: solid 1px ;
  }
}
@media (max-width: 600px) and (orientation: portrait){
    .InputSectionInfo{
        grid-area: SI;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 5%;
        height: 22vh;
        flex-direction: column;
    }

    .input-wrapper-default{
    width: 80%;
    height: 26%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    flex-wrap: wrap;
    flex-direction: column;
}


.input-default{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 4vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: solid 1px;
    background-color: #fff;
    transition: ease-in-out .6s;
    border-radius: 0px;
}



.input-default:focus + .label-default,
.input-default:valid + .label-default{
    top: -25%; 
    left: 10%;
    font-size: 5vw;
    transition: .2s ease-in-out; 
}



.label-default{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 5vw;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
}

.CEPLink{
    color: #8f44fd;
    font-family: "Montserrat", sans-serif;
      font-size: 5vw;
      border-bottom: solid 1px ;
  }
}
@media (max-width: 600px) and (orientation: landscape){
    .InputSectionInfo{
    grid-area: SI;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.input-wrapper-default{
    width: 23%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    flex-wrap: wrap;
    flex-direction: column;
}


.input-default{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.1vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    border: solid 1px;
    background-color: #fff;
    transition: ease-in-out .6s;
    border-radius: 10px;
}


.label-default{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-size: 1.5vw;
    font-family: "Montserrat", sans-serif;
    pointer-events: none;
}


.CEPLink{
    color: #8f44fd;
    font-family: "Montserrat", sans-serif;
      font-size: 1.1vw;
      border-bottom: solid 1px ;
  }
}